
.navbar{ margin-bottom: 1rem; padding-bottom: 1rem; border-bottom: 3px solid black;}
.link{ font-size: 18px; padding: 3px 10px; margin-right: 20px; color:#030d29; text-decoration: none; border: 2px solid gray;
    border-radius: 10px; background:#f1eded;}
.link:active{background:#565555 ;}    