

*, ::after, ::before{ margin: 0; box-sizing: border-box;}
button{cursor: pointer; padding: 0;}
ul{list-style: none; padding: 0;}
h2{padding: 1rem 0; font-size: 28px; text-transform: uppercase;}

/* utility class */

.flex{display: flex;}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}


/* input form */

.input-form{ flex-basis:  65%; padding: 1rem; border: 1px solid #555; border-radius: 10px;}
.input-form table{width: 100%;}
.input-form label{font-size: 22px;}
.input-form input{font-size: 18px; border: 1px solid gray; padding: 10px; border-radius: 10px; width: 100%;}
.input-form button{font-size: 22px; padding: 10px 20px; border:1px solid gray; border-radius:10%; margin-left: 45%;}
.poster{flex-basis: 33%; padding: 0 1rem; border: 1px solid #555; border-radius: 10px;}


/* show data */

.users{flex-flow: row wrap; gap: 1rem;}
.user-box{ font-size: 16px; flex: 0 0 22%; padding: 1rem 1rem 3rem 1rem; border: 1px solid #555; border-radius: 5%;
     margin-bottom: 1rem; position: relative;}
.user-box button{font-size: 18px; padding: 5px 10px; border:1px solid gray; border-radius:10%; position: absolute;
bottom: 5px; left: 40%;}
